---
import '@styles/global.css';
import '@fontsource/raleway';
import '@fontsource/bitter';
---

<html lang="en-US">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Track Your Rep</title>
  <body>
    <slot />
  </body>
</html>
