---
import BaseLayout from '@layouts/BaseLayout.astro';
import BillDisplay from '@lib/BillDisplay.astro';
import { getDevConfig } from '@lib/devConfig';

export async function getStaticPaths() {
	const url = getDevConfig('url');
	const query = new URLSearchParams({ type: 'all' }).toString();
	const response = await fetch(`${url}/api/bills/list?${query}`, {
		method: 'get',
	});
	const data = await response.json();
	const bills: Record<string, any>[] = data.results;

	return bills.map((bill) => {
		return {
			params: { id: bill.bill_id },
			props: { bill },
		};
	});
}
const { id } = Astro.params;
const { bill } = Astro.props;
---

<BaseLayout>
	<p>{id}</p>
	<BillDisplay {bill} />
</BaseLayout>
