---
import BaseLayout from '@layouts/BaseLayout.astro';
// import BillDisplay from '@lib/BillDisplay.astro';

// const res = await fetch('/api/bills/latest', {
// 	method: 'get',
// });
// const data = await res.json();

// const bills = Object.values(data);
---

<BaseLayout>
	<ul>
		<!-- {
			bills.map((bill: any) => (
				<li>
					<a href={bill.bill_id}>
						{bill.bill_slug}: {bill.short_title}
					</a>
				</li>
			))
		} -->
	</ul>
</BaseLayout>
