---
import BaseLayout from '@layouts/BaseLayout.astro';
import { getDevConfig } from '@lib/devConfig';

const url = getDevConfig('url');
const queryString = new URLSearchParams({
	type: 'all',
}).toString();
const response = await fetch(url + '/api/bills/list?' + queryString, {
	method: 'get',
});
const data = await response.json();
const bills: Record<string, any>[] = data.results;
---

<BaseLayout>
	<ul>
		{
			bills.map((bill) => (
				<li>
					<a href={'/bills/' + bill.bill_id}>{bill.bill_id}</a>
				</li>
			))
		}
	</ul>
</BaseLayout>
